<%= div_for comment do %>
<h3>
<%= comment.post %> &lt;<%= comment.email %>&gt; said:
<% if @article.owned_by? current_user %>
<%= link_to 'Delete', [@article, comment], :confirm => 'Are you sure?', :method => :delete, :remote => true%>
<%end%>
</h3>
<%= comment.body %>
<% end %>








